{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"],
    "no-redeclare": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "alphabetize": {
          "order": "asc"
        }
      }
    ]
  },
  "plugins": [
    "import",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  }
}